i.icon-arrow {
  background-image: url(../images/sprite.png);
  background-position: 0px -44px;
  width: 16px;
  height: 12px; }

i.icon-cross {
  background-image: url(../images/sprite.png);
  background-position: -60px 0px;
  width: 14px;
  height: 13px; }

i.icon-house-black {
  background-image: url(../images/sprite.png);
  background-position: -44px -14px;
  width: 14px;
  height: 14px; }

i.icon-house-white {
  background-image: url(../images/sprite.png);
  background-position: -44px -28px;
  width: 14px;
  height: 14px; }

i.icon-li {
  background-image: url(../images/sprite.png);
  background-position: -60px -37px;
  width: 7px;
  height: 7px; }

i.icon-magnifying-glass-big {
  background-image: url(../images/sprite.png);
  background-position: 0px -23px;
  width: 22px;
  height: 21px; }

i.icon-magnifying-glass-minni {
  background-image: url(../images/sprite.png);
  background-position: -60px -25px;
  width: 12px;
  height: 12px; }

i.icon-mail-big {
  background-image: url(../images/sprite.png);
  background-position: -22px -23px;
  width: 20px;
  height: 17px; }

i.icon-mail-minni {
  background-image: url(../images/sprite.png);
  background-position: -60px -13px;
  width: 14px;
  height: 12px; }

i.icon-photo {
  background-image: url(../images/sprite.png);
  background-position: -44px 0px;
  width: 16px;
  height: 14px; }

i.icon-slider {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 44px;
  height: 23px; }

i.icon {
  display: inline-block;
  vertical-align: middle; }

/* Grid */
.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

@font-face {
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-family: "Lato";
  font-weight: 400; }

@font-face {
  src: url("../fonts/Lato/Lato-Medium.ttf");
  font-family: "Lato";
  font-weight: 500; }

@font-face {
  src: url("../fonts/Lato/Lato-MediumItalic.ttf");
  font-family: "Lato";
  font-weight: 500;
  font-style: italic; }

@font-face {
  src: url("../fonts/Lato/Lato-Semibold.ttf");
  font-family: "Lato";
  font-weight: 600; }

@font-face {
  src: url("../fonts/Lato/Lato-SemiboldItalic.ttf");
  font-family: "Lato";
  font-weight: 600;
  font-style: italic; }

@font-face {
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-family: "Lato";
  font-weight: 700; }

@font-face {
  src: url("../fonts/Lato/Lato-Heavy.ttf");
  font-family: "Lato";
  font-weight: 800; }

@font-face {
  src: url("../fonts/Lato/Lato-Black.ttf");
  font-family: "Lato";
  font-weight: 900; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font: 14px "Lato", sans-serif;
  color: #1a1a1a;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.title {
  font-size: 30px;
  line-height: 32px;
  font-weight: 900;
  color: #3e3e3e;
  margin-bottom: 25px;
  text-transform: uppercase; }

h2 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 10px; }

h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px; }

h4 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

ul {
  font-size: 0; }
  ul li {
    font-size: 14px; }
  ul.li_line li {
    display: inline-block; }
  ul.li_reset li {
    list-style-type: none; }
  ul.ul_square li {
    color: #2d2d2d;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px; }
    ul.ul_square li:before {
      position: absolute;
      top: 5px;
      left: 0;
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      background: #EC171E; }
    ul.ul_square li:last-of-type {
      margin-bottom: 0; }
  ul.ul_diamond li {
    display: block;
    list-style: none;
    position: relative; }
    ul.ul_diamond li:before {
      content: '';
      position: absolute;
      left: -15px;
      top: 5px;
      background-image: url(../images/sprite.png);
      background-position: -60px -37px;
      width: 7px;
      height: 7px; }

span {
  position: relative;
  display: inline-block; }

a {
  color: #1a1a1a;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* Button */
button, input[type="button"], input[type="reset"] {
  background: none;
  cursor: pointer; }

.button {
  display: inline-block;
  color: #1a1a1a;
  background: white;
  padding: 5px 10px;
  cursor: pointer;
  font: 14px "Lato", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button.button_block {
    display: block; }

.button_gray {
  width: 180px;
  height: 51px;
  font-size: 18px;
  font-weight: 800;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #555;
  color: white;
  border-bottom: 1px solid #414141;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(10, 52, 74, 0.23);
          box-shadow: 1px 2px 4px 0px rgba(10, 52, 74, 0.23); }
  .button_gray:hover {
    background: #4B4B4B; }

.button_red {
  width: 180px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  color: white;
  background: #B51318; }
  .button_red span {
    border-bottom: 1px dotted white; }
  .button_red:hover {
    background: #A21116; }

/* Input */
.input {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid gray;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .input:focus {
    border: 1px solid #00B7FF; }
  .input.input_block {
    display: block; }

.error {
  border: 1px solid #FA1B20 !important;
  background: #FFE6E6; }

/* Textarea */
.textarea {
  display: block;
  padding: 5px 10px;
  border: 1px solid gray;
  resize: none;
  font: 14px "Lato", sans-serif;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  height: 190px; }
  .textarea:focus {
    border: 1px solid #00B7FF; }

.input, .textarea {
  display: block;
  width: 100%;
  font-size: 15px;
  margin-bottom: 14px;
  border: 1px solid #770507;
  padding: 12.5px 15px; }
  .input:focus, .textarea:focus {
    border: 1px solid #499BEA; }

.popup {
  display: none; }

.popup, .popup__bg {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.popup__window {
  z-index: 1002;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.popup__container {
  height: 100%; }

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .7s;
  transition: .7s; }
  .popup__close span {
    position: relative;
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
    width: 15px;
    height: 3px;
    background: white;
    margin-left: auto;
    margin-right: auto; }
    .popup__close span:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 18px; }
    .popup__close span:nth-of-type(2) {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 15px; }
  .popup__close:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.popup__bg {
  z-index: 1001;
  position: fixed;
  background: rgba(56, 56, 56, 0.6); }

.popup__window_step-1 {
  position: relative;
  width: 580px;
  min-height: 540px;
  padding: 35px 60px;
  background: url("../images/bg/house-all.jpg") no-repeat right bottom, #B51318;
  color: white; }
  .popup__window_step-1 a {
    color: white; }
  .popup__window_step-1 .message {
    position: absolute;
    right: 35px;
    bottom: 24px;
    background: #303030;
    padding: 9px 12px;
    font-weight: 700; }

.popup__window_step-2 {
  display: none;
  width: 580px;
  background: #555;
  color: white;
  padding: 35px 60px; }
  .popup__window_step-2 a {
    color: white; }

.popup__title {
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 15px; }

.popup__desc {
  line-height: 17px;
  font-weight: 600;
  margin-bottom: 22px; }

.popup__elements {
  font-size: 0; }

.popup__input.input-name {
  width: 400px; }

.popup__input.input-email {
  display: inline-block;
  width: 240px; }

.popup__input.input-phone {
  display: inline-block;
  width: 205px;
  margin-left: 15px; }

.popup__bottom {
  margin-bottom: 14px; }

.popup__text {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #797979;
  margin-bottom: 18px; }

.popup__all {
  font-size: 12px;
  font-weight: 500; }

.popup__guarantee {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
  top: 6px; }

.header {
  color: white;
  background: #D0181C;
  padding: 16px 0 12px; }
  .header a {
    color: white; }

.header__logo {
  margin-right: 22px;
  width: 75px; }
  .header__logo img {
    display: block;
    max-width: 100%;
    -webkit-transition: .5s;
    transition: .5s; }
    .header__logo img:hover {
      opacity: .8; }

.header__desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 11px; }

.header__content {
  float: right; }

.header__phone {
  font-size: 13px;
  line-height: 18px;
  margin-right: 30px;
  font-weight: 500; }
  .header__phone a {
    display: block;
    font-weight: 900;
    font-size: 18px;
    cursor: default; }

.header__feedback .icon {
  margin-right: 9px; }

.header__feedback span {
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px dotted white;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header__feedback span:hover {
    border-bottom: 1px dotted transparent; }

.nav {
  margin-bottom: 10px; }
  .nav a {
    display: block;
    background: #555;
    line-height: 36px;
    height: 35px;
    text-align: center;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-weight: 900;
    color: white; }
    .nav a span {
      display: none; }
  .nav li {
    margin-right: 5px;
    width: 145px; }
    .nav li:first-of-type {
      width: 35px; }
    .nav li:last-of-type {
      margin-right: 0; }
    .nav li:hover a {
      background: #323232; }
    .nav li.nav__item_select a {
      color: #1a1a1a;
      background: white;
      cursor: default; }
    .nav li.nav__item_select .icon-house-white {
      background-image: url(../images/sprite.png);
      background-position: -44px -14px;
      width: 14px;
      height: 14px; }

.mobile-btn-nav {
  display: none;
  position: absolute;
  right: 15px;
  top: 0px;
  width: 43px;
  height: 44px;
  padding-top: 13px;
  background: #555555;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer; }
  .mobile-btn-nav span {
    display: block;
    width: 21px;
    height: 3px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px; }
    .mobile-btn-nav span:last-of-type {
      margin-bottom: 0; }

.callback {
  cursor: pointer; }

.slider {
  position: relative; }

.slider__title {
  z-index: 10;
  position: absolute;
  bottom: 140px;
  left: 0;
  color: white;
  width: 100%; }
  .slider__title .container {
    left: -27px; }
  .slider__title span {
    display: block;
    padding-left: 27px;
    width: 410px; }
    .slider__title span:nth-of-type(1) {
      font-size: 33px;
      font-weight: 800;
      background: rgba(0, 0, 0, 0.6);
      line-height: 66px; }
    .slider__title span:nth-of-type(2) {
      font-size: 25px;
      font-weight: 900;
      background: rgba(219, 0, 5, 0.72);
      line-height: 55px; }

.slider__item {
  height: 100%;
  max-height: 664px;
  width: 100%;
  overflow: hidden; }

.slider__list .slick-dots {
  bottom: -36px; }
  .slider__list .slick-dots li {
    width: 13px;
    height: 13px; }
    .slider__list .slick-dots li.slick-active button {
      background: #454545; }
    .slider__list .slick-dots li button {
      width: 13px;
      height: 13px;
      background: #E21E23;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .slider__list .slick-dots li button:before {
        display: none; }

.slider__list img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0 !important; }

.wh {
  height: 100% !important; }

.ww {
  width: 100% !important; }

.breadcrumbs {
  background: url("../images/bg/breadcrumbs.png") repeat-x left top, #555;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px; }
  .breadcrumbs li {
    font-size: 12px;
    font-weight: 500; }
    .breadcrumbs li:after {
      content: '\\';
      margin-left: 5px;
      margin-right: 5px; }
    .breadcrumbs li:last-of-type:after {
      display: none; }
  .breadcrumbs a {
    color: white; }
    .breadcrumbs a:hover {
      border-bottom: 1px solid white; }

.popular .project:last-of-type {
  margin-right: 0; }

.popular__title {
  font-size: 24px;
  line-height: 22px;
  font-weight: 900;
  margin-top: 55px;
  margin-bottom: 26px; }

.popular__list {
  overflow-x: scroll;
  overflow-y: hidden; }

.popular__wrapper {
  width: 100%; }
  .popular__wrapper .project__content {
    padding-bottom: 50px; }

.project {
  float: left;
  width: 220px;
  margin-right: 20px;
  background: #f30e13; }
  .project:hover .project__title {
    color: #191919; }
  .project:hover .project__img {
    -webkit-transform: scale3d(0.96, 0.96, 1);
            transform: scale3d(0.96, 0.96, 1); }

.project__img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url("../images/bg/photo-none.jpg") no-repeat center, #F5F5F5;
  width: 220px;
  height: 196px; }
  .project__img img {
    display: block; }

.project__content {
  background: white;
  padding-bottom: 40px;
  margin-bottom: -1px; }

.project__title {
  font-size: 18px;
  line-height: 22px;
  color: #e21e23;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.project__desc {
  color: #474747;
  font-weight: 500;
  margin-bottom: 0; }
  .project__desc span {
    font-weight: 700; }

.plashka {
  margin-top: 38px;
  background: url("../images/bg/plashka.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding: 0 60px; }
  .plashka a {
    color: white; }

.plashka__title {
  position: relative;
  font-size: 24px;
  font-weight: 900;
  padding-right: 90px;
  padding-top: 29px;
  padding-bottom: 25px; }
  .plashka__title span {
    display: block;
    font-size: 25px; }
  .plashka__title:before {
    content: '';
    position: absolute;
    top: 0;
    right: -25px;
    width: 25px;
    height: 113px;
    background: url("../images/bg/plashka-title-shadow.png"); }

.plashka__number {
  font-weight: 500;
  margin-right: 100px;
  padding-left: 46px;
  padding-top: 31px; }
  .plashka__number a {
    display: block;
    font-size: 28px;
    font-weight: 900;
    cursor: default; }

.plashka__email {
  padding-top: 34px; }
  .plashka__email .icon {
    margin-right: 13px; }
  .plashka__email a {
    position: relative;
    top: 1px;
    font-size: 18px;
    border-bottom: 2px solid white; }
    .plashka__email a:hover {
      border-bottom: 2px solid transparent; }

.main-content {
  margin-top: 50px; }
  .main-content p {
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 20px; }
    .main-content p:last-of-type {
      margin-bottom: 0; }

.main-content__title {
  margin-bottom: 25px; }

.main-content__left {
  width: 480px; }

.main-content__right {
  width: 340px;
  float: right;
  padding-top: 55px; }

.contacts a {
  color: #c91519; }
  .contacts a:hover {
    border-bottom: 1px solid #c91519; }

.contacts__left {
  width: 500px; }

.contacts__right {
  float: right;
  width: 400px; }

.contacts__block {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px; }
  .contacts__block span {
    margin-right: 5px;
    font-weight: 700; }

.feedback {
  position: relative;
  color: white;
  background: #B51318;
  font-size: 12px;
  padding: 30px 40px 33px; }
  .feedback ::-webkit-input-placeholder {
    color: #555; }
  .feedback ::-moz-placeholder {
    color: #555; }
  .feedback :-ms-input-placeholder {
    color: #555; }
  .feedback ::placeholder {
    color: #555; }
  .feedback a {
    color: white; }
    .feedback a:hover {
      border-bottom: 1px solid white; }
  .feedback .message {
    position: absolute;
    left: 0;
    bottom: -30px;
    background: #303030;
    padding: 15px 40px;
    width: 100%; }

.feedback__title {
  font-size: 22px;
  line-height: 25px;
  font-weight: 800;
  margin-bottom: 30px; }

.feedback__input, .feedback__textarea {
  display: block;
  width: 100%;
  font-size: 15px;
  margin-bottom: 14px;
  border: 1px solid #770507;
  padding: 12.5px 15px; }
  .feedback__input:focus, .feedback__textarea:focus {
    border: 1px solid #499BEA; }

.feedback__input.input-phone {
  width: 195px; }

.feedback__textarea {
  height: 190px; }

.feedback__all {
  margin-bottom: 15px; }

.feedback__button {
  margin-bottom: 15px; }

.message {
  display: none; }

.album .row {
  margin-left: -10px;
  margin-right: -10px; }
  .album .row .col {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 18px; }

.album__list {
  border-top: 1px solid #E2E2E2;
  padding-top: 15px;
  padding-bottom: 25px; }

.album__img img {
  display: block; }

.album__title {
  font-weight: 500;
  font-style: italic;
  margin-top: 5px; }

.return {
  font-size: 18px;
  font-weight: 500;
  color: #3e3e3e;
  border-top: 1px solid #E2E2E2;
  padding-top: 20px; }
  .return .icon {
    margin-right: 13px;
    position: relative;
    top: 1px; }
  .return span {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .return span:hover {
      border-bottom: 1px solid #1a1a1a; }

.projects {
  padding-bottom: 60px; }
  .projects .row {
    margin-left: -10px;
    margin-right: -10px; }
  .projects .col {
    padding-left: 10px;
    padding-right: 10px; }
  .projects .project {
    margin-right: 0; }

.project-page__left {
  width: 520px; }
  .project-page__left img {
    display: block; }

.image__icon {
  font-weight: 500;
  font-style: italic;
  color: #737373;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 5px; }
  .image__icon .icon {
    margin-right: 7px; }

.images__list {
  margin-left: -3px;
  margin-right: -3px; }
  .images__list .col {
    padding-left: 3px;
    padding-right: 3px;
    width: 33.3333%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .images__list .col:hover .icon-magnifying-glass-big {
      opacity: 1 !important; }
    .images__list .col:hover img {
      -webkit-transform: scale3d(0.98, 0.98, 1);
              transform: scale3d(0.98, 0.98, 1); }
    .images__list .col img {
      width: 100%;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.images {
  margin-bottom: 28px; }

.images__title, .plan__title {
  font-size: 12px;
  font-weight: 700;
  color: #555;
  margin-bottom: 10px;
  text-transform: uppercase; }

.images__item {
  background: #E11E21;
  position: relative; }
  .images__item .icon-magnifying-glass-big {
    z-index: 10;
    opacity: 0;
    position: absolute;
    left: 75px;
    top: 52px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.plan .col {
  margin-right: 5px;
  width: 170px; }
  .plan .col:last-of-type {
    margin-right: 0; }

.plan a {
  display: block;
  width: 100%;
  text-align: center; }
  .plan a:hover .plan__img {
    border: 1px solid #E11E21; }

.plan .plan__img {
  display: block;
  border: 1px solid #E2E2E2;
  line-height: 235px;
  padding: 10px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .plan .plan__img img {
    display: inline-block;
    max-width: 100%;
    line-height: 235px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; }

.plan span {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #737373;
  font-weight: 500;
  font-style: italic;
  margin-top: 8px; }

.project-page__right {
  width: 360px;
  float: right; }
  .project-page__right .title {
    margin-top: -3px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 0; }

.project-page__desc {
  line-height: 19px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 22px;
  color: #3e3e3e; }

.project-page__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700; }

.project-page__table {
  font-weight: 500; }
  .project-page__table .project-page__subtitle {
    margin-bottom: 15px; }
  .project-page__table .table td {
    background: #F2F2F2;
    border: 2px solid white;
    padding: 7.5px 14px;
    vertical-align: top; }
  .project-page__table .table tr:nth-of-type(odd) td {
    background: #E0E0E0; }

.table {
  border-collapse: collapse;
  margin-left: -2px;
  margin-top: -2px; }

.price {
  margin-top: 25px; }

.price__count {
  color: #d3191d;
  font-weight: 700;
  font-size: 26px; }
  .price__count span {
    font-size: 34px;
    font-weight: 900; }

.price__desc {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: italic;
  color: #777;
  margin-top: 5px; }

.question {
  margin-top: 30px;
  color: white;
  background: #C8181B; }
  .question a {
    color: white; }

.question__title {
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 700; }
  .question__title span {
    font-weight: 800; }

.question__wrapper {
  padding: 15px 30px 24px;
  background: url("../images/bg/question-title-shadow.png") repeat-x center top; }

.question__number {
  font-size: 28px;
  font-weight: 900; }

.question__desc {
  font-weight: 500;
  margin-top: 7px; }

.question__email {
  display: inline-block;
  font-size: 16px;
  margin-top: 15px; }
  .question__email .icon {
    margin-right: 10px; }
  .question__email a {
    border-bottom: 2px solid white; }
    .question__email a:hover {
      border-bottom: 2px solid transparent; }

.portfolio__item {
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #E2E2E2; }
  .portfolio__item:last-of-type {
    border-bottom: 1px solid #E2E2E2; }

.portfolio__img {
  position: relative;
  background: #EAEAEA;
  width: 520px;
  height: 347px; }
  .portfolio__img img {
    display: block; }

.img-count {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 87px;
  line-height: 30px;
  color: white;
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  background: #D71A1F; }
  .img-count .icon {
    position: relative;
    top: -1px;
    margin-right: 7px; }

.portfolio__content {
  width: 385px;
  float: right; }

.portfolio__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: -3px;
  margin-bottom: 10px; }
  .portfolio__title a:hover {
    color: #D71A1F; }

.portfolio__desc {
  line-height: 20px;
  margin-bottom: 20px; }

.portfolio__date {
  font-weight: 600; }

.textpage p, .textpage li {
  font-weight: 500;
  color: #3e3e3e;
  line-height: 20px; }

.textpage p {
  margin-bottom: 18px; }

.textpage a {
  color: #e81d22;
  border-bottom: 1px solid #e81d22; }
  .textpage a:hover {
    border-bottom: 1px solid transparent; }
  .textpage a:visited {
    color: #641b1d;
    border-bottom: 1px solid #641b1d; }

.textpage ol, .textpage ul {
  margin-left: 15px;
  margin-bottom: 20px; }
  .textpage ol li, .textpage ul li {
    margin-bottom: 4px; }

.textpage .table {
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 5px; }
  .textpage .table th {
    color: white;
    padding: 8.5px 18px;
    border-right: 1px solid #B54242 !important; }
    .textpage .table th:nth-of-type(odd) {
      border: 1px solid #C63A3A;
      background: #C63A3A; }
    .textpage .table th:nth-of-type(even) {
      border: 1px solid #C63A3A;
      background: #AC2E2E; }
    .textpage .table th:first-of-type:nth-of-type(odd) {
      border-left: 2px solid #C63A3A !important; }
    .textpage .table th:last-of-type:nth-of-type(even) {
      border-right: 2px solid #B54242 !important; }
    .textpage .table th:last-of-type:nth-of-type(odd) {
      border-right: 2px solid #B54242 !important; }
  .textpage .table td {
    border: 1px solid #ECECEC;
    border-bottom: 1px solid #CECECE;
    font-weight: 600;
    padding: 8px 18px;
    background: white; }
  .textpage .table td:first-of-type {
    border-left: 2px solid #E3E3E3; }
  .textpage .table td:last-of-type {
    border-right: 2px solid #E3E3E3; }
  .textpage .table tr:last-of-type td {
    border-bottom: 2px solid #E3E3E3; }
  .textpage .table tr:nth-of-type(even) td {
    background: #F8F8F8; }

.img {
  max-width: 100%; }
  .img.img-left {
    float: left;
    margin-right: 25px; }
  .img.img-right {
    float: right;
    margin-left: 25px; }

.main {
  padding-bottom: 120px;
  background: url("../images/bg/house-gray.png") no-repeat right bottom; }

.footer {
  background: url("../images/bg/house-red.jpg") no-repeat right top, #A50D10;
  color: white;
  padding-top: 30px;
  padding-bottom: 25px; }
  .footer a {
    color: white; }

.footer__copy {
  font-size: 12px;
  line-height: 16px;
  width: 280px; }
  .footer__copy p:nth-of-type(1) {
    margin-bottom: 15px; }
  .footer__copy p:nth-of-type(2) {
    margin-bottom: 9px; }
  .footer__copy p:nth-of-type(3) {
    margin-top: 6px; }
  .footer__copy a {
    font-weight: 700; }
    .footer__copy a:hover {
      border-bottom: 1px solid white; }

.footer__counter a {
  border-bottom: none !important; }

.footer__contacts {
  float: right;
  padding-right: 220px; }

.footer__address {
  font-size: 13px;
  margin-bottom: 14px; }
  .footer__address span {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px; }

.footer__phone {
  margin-right: 30px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px; }
  .footer__phone:last-of-type {
    margin-right: 0; }
  .footer__phone a {
    font-size: 22px;
    display: block;
    font-weight: 900;
    margin-bottom: 3px;
    cursor: default; }

.footer__email {
  font-weight: 600; }
  .footer__email a {
    font-weight: 800; }
    .footer__email a:hover {
      border-bottom: 1px solid white; }

body ::-webkit-input-placeholder {
  color: #555; }

body ::-moz-placeholder {
  color: #555; }

body :-ms-input-placeholder {
  color: #555; }

body ::placeholder {
  color: #555; }

body ::-webkit-scrollbar {
  height: 23px;
  background: #E7E7E7; }

body ::-webkit-scrollbar-button {
  display: none; }

body ::-webkit-scrollbar-track {
  height: 23px;
  background: #E7E7E7;
  border-top: 6px solid white;
  border-bottom: 6px solid white; }

body ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  height: 23px;
  border: 1px solid #8C1000;
  background: url("../images/bg/thumb.png") no-repeat center, #D71600; }
